/*custom styles*/
.menu {
	border: 2px solid rgb(0, 0, 0);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,.25);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,.25);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,.25);
	background-color: #f2f5f9;
	margin-top: 20px;
	font-family: 'Helvetica';
}

.menu h2{
	text-decoration: underline;
	font-size: 30px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}

.menu h4{
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 4px;
}

.menu h3{
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 4px;
	margin-top: -27px;
	text-align: center;
	margin-left: -52px;
}

.menu p{
	font-size: 14px;
	margin-bottom: 5px;
}

.container{
	font-family: 'Helvetica';
}

.menu_button{
	margin-bottom: 10px;
	font-size: 10px;
}

.socialmedia{
	margin-bottom: 20px;
	margin-top: 15px;
}

.tel_button{
	margin-bottom: 35px;
}

.jumbotron {
	text-align: center;
	font-family: 'Helvetica';
}
.menu-title{
	margin-top: 95px;
	margin-left:80px;
}

hr.divide{
	border: solid 1px rgb(0, 0, 0);
}

.navbar{
	border-bottom:solid 3px rgb(0, 0, 0);
}

.jumbotron{
	background-color: white;
}

.img-responsive{
	width: 500px;
}

.btn-default {
	margin-top: 25px;
}

.hours{
	margin-bottom: 50px;
	border-bottom: 3px solid black;
	padding-bottom: 30px;
}